* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input {
	outline: none;
  border: none;
  color: #aaa;
}

input::placeholder {
  color: #aaa
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  outline: none;
  border: none;
  color: #aaa;
}

textarea::placeholder {
  color: #aaa
}

textarea:focus::placeholder {
  color: transparent;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
  
.container {
  background-image: 
    linear-gradient(rgba(132,106,221,0.9), rgba(132,106,221,0.9)), 
    url(img/container-bg.jpg);
  background-size: cover;
  background-position: center;
}

.contact-form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 3rem;
}

.wrap-contact-form {
  width: 1163px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8rem;
}

.tilt-img {
  width: 310px;
  padding-top: 55px;
}

.tilt-img img {
  max-width: 100%;
}

.form {
  width: 390px;
}

.form__title {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #333;
}

.form__wrap-input {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  z-index: 10;
}

.form__wrap-input input,
.form__wrap-input textarea {
  width: 100%;
  padding: 0 30px 0 50px;
  border-radius: 25px;
  background-color: #e6e6e6;
  font-size: 15px;
  font-weight: 800;
}

.form__wrap-input input {
  height: 50px;
}

.form__wrap-input textarea {
  min-height: 150px;
  padding: 14px 30px;
}

.focus-input {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  z-index: -1;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132,106,221, 0.5);
}

.input-field:focus + .focus-input {
  animation: animate-shadow 0.5s ease-in-out forwards;
}

@keyframes animate-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes animate-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;
  transition: all 0.4s;
}

.input-field:focus + .focus-input + .symbol-input {
  color: #846add;
  padding-left: 22px;
}

.form__wrap-button {
  padding-top: 20px;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #846add;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #333;
}

/**********************************
  * RESPONSIVE BREAKPOITNS
**/

@media (max-width: 1200px) {
  .tilt-img {
    width: 33.5%;
  }

  .form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact-form {
    padding: 110px 80px 157px 90px;
  }

  .tilt-img {
    width: 35%;
  }

  .form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact-form {
    padding: 110px 80px 157px 80px;
  }

  .tilt-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact-form {
    padding: 110px 15px 157px 15px;
  }
}